/*general and reusable styles*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto !important;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

main {
    background-color: #fff;
    color: #000;
}

h2 {
    font-weight: 300;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

#footer,
.bgIcons {
    background-color: #000;
}

#footer a,
.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
}


/*nav*/

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 22px;
}


/*section presentacion*/

.tooltip-inner {
    background-color: #0dcaf0;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #0dcaf0 !important;
}


/*section destacados*/

.card-img-top {
    height: 45%;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
}